*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:15px;
}

body{
  background: linear-gradient(180deg ,#ECE8EF 10%, #727072 50%, #0A2342 90%);
}

header{
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(4px);

  div {
    display: flex;
  gap: 20px;
  align-items:center;
  width:250px;
  h2{
  font-size: 1.5rem;}
    img {
    border-radius: 500px;
    width: 50px;
    height: 50px;
  }
}
.sidenav {
  display: initial;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:black;
  overflow-x: hidden;
  transition: 0.5s;
  
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(117, 117, 117);
    display: block;
    transition: 0.3s;
    a:hover {
      color: white;
      }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}
.Menu{
  display: none;
  font-size:40px;
  cursor:pointer;
  height: 110%;
  margin-right: 1.5%;
  margin-top: 1%;
}



.menu-overlay {
  display: initial;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:transparent;
  overflow-x: hidden;
  transition: 0.5s;
  opacity: 1;

  margin-top: 30vh;
}

.side-active{

  height:30vh;
  
  }
  .menu-overlay-active {
  height:70vh;
} 
}


a{
  color: black;
  text-decoration: none;
  
}

.underline:hover{
  
  transition:2s ;
  border-bottom: 2px solid #0A2342;

}


nav{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  font-size: 20px;
  height:50%;

.link{
  width: 100px;
  a{
    margin: auto;
    font-size: 1.3rem;
  }
} }

.git{

  width: 250px;

  background-color: #fff;

}


.profil{
  display: block;
  justify-content: center;
  margin:auto;
  margin-top: 2%;
  width: 250px;
  height: 250px;
  border-radius: 1000px;

  
}
main{
  height:295.5vh;
  

}
.about{
  width: 100%;
  height: 100vh;
  div{
    h1{
      font-size:1.5rem;
      padding-top: 2%;
    }
    h3:nth-of-type(1) h3:nth-of-type(1){
      font-size:1.2rem;
      padding-bottom:0;
    }
    div:nth-of-type(1){
      padding-top: 2%;
      h3{
        font-size: 1.5em; ;
      }
      
    }
    .like {
      display: flex;
      text-align: center;
      justify-content:space-evenly ;
      
      div:nth-of-type(1){
        padding-top: 0;
        display: block;
        width:25%;
        h3{
          font-size: 1.2em; 
          padding-bottom: 2%;
        }
      }
      div:nth-of-type(2){
        padding-top: 0;
        display: block;
        width:25%;
        h3{
          font-size: 1.2em;
          padding-bottom: 2%;
        }
      }
      div:nth-of-type(3){
        padding-top: 0;
        display: block;
        width:25%;
        h3{
          font-size: 1.2em;
          padding-bottom: 2%;
        }
      }
    }
  }

}
.skills{
  width: 100%;
  height: 100vh;
  color: #fff;
  
h2{
  padding-bottom: 5%;
  font-size:2.5rem;
  
}
}

.skill{
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
  h3{
    font-size: 1.8rem;
    padding-bottom: 2%;
  }
  div:nth-of-type(1){
    padding-top: 0;
    li{
      list-style-type: none;
      padding-bottom: 3%;
      font-size:1.2rem;
    }
  }
  div:nth-of-type(2){
    padding-top: 0;
    width:30%;
    ul  {
      display: grid;
      grid-template-columns: repeat(3 , 30%);
      grid-template-rows: repeat(4 , 20vh);
      gap: 10px;
      li:nth-of-type(1){
        grid-column: 1 / 2;
        grid-row: 1/2;
        background-image: url(img/HTML5.webp);
        background-size: 100%;
        background-repeat: no-repeat;
      }
      li:nth-of-type(2){
        grid-column: 2 / 3;
        grid-row: 1/2;
        background-image: url(img/CSS.webp);
        background-size: 73.5%;
        background-repeat: no-repeat;
      }
      li:nth-of-type(3){
        grid-column: 3 / 4;
        grid-row: 1/2;
        background-image: url(img/SCSS.webp);
        background-size: 100%;
        background-repeat: no-repeat;

        
      }
      li:nth-of-type(4){
        grid-column: 2 / 3;
        grid-row: 2/3;
        background-image: url(img/Javascript.webp);
        background-size: 100%;
        background-repeat: no-repeat;
        color: #fff;
      }
      li:nth-of-type(5){
        grid-column: 1 / 2;
        grid-row: 3/4;
        background-image: url(img/SQL.webp);
        background-size: 100%;
        background-repeat: no-repeat;


      }
      li:nth-of-type(6){
        grid-column: 2 / 3;
        grid-row: 3/4;
        background-image: url(img/PHP.webp);
        background-size: 100%;
        background-repeat: no-repeat;
      }
      li:nth-of-type(7){
        grid-column: 3 / 4;
        grid-row: 3/4;
        background-image: url(img/Python.webp);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    
    li{
      list-style-type: none;
    }
  }
}


.projet{
  width: 100%;
  height: 85vh;
  color: #E7F0FF;
  text-align: center;
  h2{
    font-size:2.5rem;
    padding-bottom:2%;
  }
  h3{
    font-size:1.5rem;
  }
}
.project{
  display: flex;
  justify-content: space-evenly ;
  
  div{
    border: 2px solid ;
    width: 30%;
    height: 60vh;
  }
  div:nth-of-type(1){
    div{
      background-image: url(img/eden_zero.webp);
      width: 100%;
      height: 55%;
      background-size: cover;
      background-position:center;
      border: none;
    }
    p{
      font-size:1.2rem;
    }
  }
  div:nth-of-type(2){
    div{
      background-image: url(img/bmw.webp);
      width: 100%;
      height: 55%;
      background-size: cover;
      background-position:center;
      border: none;
    }
    
    p{
      font-size:1.2rem;
    }
  }
  div:nth-of-type(3){
    div{
      background-image: url(img/anome.webp);
      width: 100%;
      height: 55%;
      background-size: cover;
      background-position:center;
      border: none;
    }
  }
  p{
    font-size:1.2rem;
  }
}

footer{
  width: 100%;
  height:15vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  div:nth-of-type(1){
    display: flex;
    align-items: center;
    width:60px;
    
    p{
      opacity: 0;
      transition: 3s;
      font-size: 1rem;
    
  }
  img:nth-of-type(1){
    width: 50px;
    height: 25px;
  }
  }
  
  div:nth-of-type(2){
  a{ 
    padding-left: 10px;    
    img:nth-of-type(1){

    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 500px;

  }}
  
}
div:nth-of-type(3){
  a{
    img:nth-of-type(1){

      width: 40px;
      background-color: #fff;
      border-radius: 500px;
      height: 40px;

    }
  }
}
        div:nth-of-type(4){
          a{
          img:nth-of-type(1){

            width: 70px;
            height: 40px;
            border-radius: 500px;
          }
        }
      }
    
} 
.protection{
  padding-top: 12vh;
  text-align: center;
}

.whitec {
  color: #fff;
  .link{
    a{
  color: #fff;}
}
}

.discord-active{
  transition:2s;
  transform: rotate(360deg);
  .pseudo{
    opacity: 1;
}
}


@media only screen and (max-width:  800px){
  header {
    height: 6vh;
    div{
      gap: 10px;
      width: auto;
      h2{
      font-size:1.5rem ;
    }
    img {
      border-radius: 500px;
      width: 25px;
      height: 25px;
      margin-top: 10%;
    }

  }
  .Menu{
    display: flex;
    font-size:30px;
    
  }}
  nav{
    display: none;
  }
  .git{
    display: none;
  }
  nav{
    gap: 0px;
    width:60%;
  
  .link{
    width: 100px;
    a{
      margin: auto;
      font-size: 1rem;
    }
  } 
  }
  .profil{
    width: 150px;
    height: 150px;
  }
  .projet{
    height:100%;
  }
  .protection{
    padding-top: 8vh;
  }
  .about{
    h3{
      padding-bottom:0;
    }
    div{

      h3{
        padding-bottom:5%;
      }
  .like{
    display: block;
    
    div:nth-of-type(1){
      padding-top: 0;
      display: block;
      width:100%;
      padding-bottom:5%;
    }
    div:nth-of-type(2){
      padding-top: 0;
      display: block;
      width:100%;
      padding-bottom:5%;
    }
    div:nth-of-type(3){
      padding-top: 0;
      display: block;
      width:100%;
      padding-bottom:5%;
    }
    
  }
}}

footer{

  div:nth-of-type(1){

    
    p{
      font-size: 0.7rem;
    
  }
  img:nth-of-type(1){
    width: 45px;
    height: 25px;
  }
  }
  
  div:nth-of-type(2){
  a{    
    img:nth-of-type(1){

    width: 30px;
    height: 30px;


  }}
  
}
div:nth-of-type(3){
  a{
    img:nth-of-type(1){

      width: 35px;
      height: 35px;

    }
  }
}
        div:nth-of-type(4){
          a{
          img:nth-of-type(1){

            width: 55px;
            height: 30px;

          }
        }
      }
    
}

  
}
@media only screen and (max-width:  600px){

  header {
    height: 4vh;
    div{
      gap: 10px;
      width: auto;
      h2{
      font-size:1.2rem ;
    }
    img {
      border-radius: 500px;
      width: 25px;
      height: 25px;
    }

  }
  .Menu{
    display: flex;
    font-size:20px;
  }}
nav{
  gap: 0px;
  width:60%;

.link{
  width: 100px;
  a{
    margin: auto;
    font-size: 0.8rem;
  }
}
}
.git{
  display: none;
}
.about{
  h3{
    padding-bottom:0;
  }
  h3:nth-of-type(2){
    padding-bottom: 5%;
  }
  div{

  
  h1{
  font-size: 1.3rem;
  }
  h3{
    font-size: 1.1rem;
    padding-bottom:0;
  }
  }
  div:nth-of-type(1){
    p{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-of-type(2){
    p{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-of-type(3){
    
    p{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
}

.projet{
  height:100%;
}
.project{
  display: block;
  div{
    width: 70%;
    margin: auto;
    margin-bottom:5%;

  }
}
.protection{
  padding-top: 6vh;
}

.skill{ 
  display: block;
  text-align: center;
    h3{
      font-size: 1.2rem;
    }
  div:nth-of-type(1){
    li{
      font-size: 0.8em;
    }
  }
  div:nth-of-type(2){
    margin: auto; 
    padding-top: 5%;
    width: 50%;
    ul {
      grid-template-rows: repeat(4, 10vh);
    }
  }
}
footer{

  justify-content: space-between;

}
}